@keyframes intro {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes intro2{
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes scroll {
    0% {
        top: 100%;
        opacity: 1;
    }
    100% {
        top: -170%;
        opacity: 0;
    }
}

@keyframes gif {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
